<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.egk.egk">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.egk.payumoney.BaseApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <activity android:name="com.egk.activites.UpcomingExamDetail"></activity>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_stat_name" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <service android:name="com.egk.fcm.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".BasicGkList" />
        <activity android:name="com.egk.activites.GlosseryActivity" />
        <activity android:name="com.egk.activites.ReportActivity" />
        <activity android:name="com.egk.activites.MonthlyActivity" />
        <activity android:name="com.egk.activites.MatchPointActivity" />
        <activity android:name="com.egk.activites.TodaysActivity" />
        <activity android:name="com.egk.activites.GetStartedPage" />
        <activity android:name="com.egk.activites.LeaderBoard" />
        <activity android:name="com.egk.activites.QuestionAns_Activity" />
        <activity android:name="com.egk.activites.ViewQuiz" />
        <activity android:name=".ForgotOTP" />
        <activity android:name=".ConfirmPassword" />
        <activity android:name=".PrivacyPolicy" />
        <activity android:name=".OTP" />
        <activity android:name="com.egk.activites.ViewGk" />
        <activity android:name="com.egk.activites.GkCategory" />
        <activity android:name="com.egk.activites.ViewActivity" /> <!-- <meta-data -->
        <!-- android:name="com.google.android.actions" -->
        <!-- android:resource="@xml/network_security_config" /> -->
        <activity android:name="com.egk.activites.Notification_item_atvty" />
        <activity android:name="com.egk.activites.Offer_item_atvty" />
        <activity android:name="com.egk.activites.Transaction_item_atvty" />
        <activity android:name="com.egk.activites.Gk_item_atvty" />
        <activity android:name=".Transaction" />
        <activity android:name=".Offer_list" />
        <activity android:name=".Notification_list" />
        <activity android:name=".Gk_list" />
        <activity android:name=".Forgot_Pswd" />
        <activity android:name=".RegistrationPage" />
        <activity
            android:name=".Egk_nav"
            android:label="@string/title_activity_egk_nav"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Login" />
        <activity android:name=".Splash_screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>